.card {
  width: 423px;
  height: 665px;
  background-color: transparent;
}

.cardImage {
  width: 423px;
  height: 501px;
  margin-bottom: 21px;
  border-radius: 20px;
}

.cardTitle {
  margin-bottom: 13px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

.cardDescription {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  line-height: 25px;
}

@media (max-width: 1161px) {
  .card {
    width: 360px;
    height: 615px;
  }

  .cardImage {
    width: 360px;
    height: 425px;
  }

  .cardTitle {
    font-size: 18px;
    line-height: 26px;
  }

  .cardDescription {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 720px) {
  .card {
    width: 288px;
    height: 493px;
  }

  .cardImage {
    width: 288px;
    height: 340px;
  }

  .cardTitle {
    font-size: 16px;
    line-height: 22px;
  }

  .cardDescription {
    font-size: 14px;
    line-height: 18px;
  }
}
