.chip {
  min-width: 180px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 100px;
  padding: 10px 22px;
}

.label {
  font-size: 16px;
  line-height: 20px;
}

@media (max-width: 1161px) {
  .chip {
    padding: 4px 18px;
  }

  .label {
    font-size: 14px;
    line-height: 28px;
  }
}

@media (max-width: 480px) {
  .chip {
    padding: 4px 18px;
    min-width: 143px;
  }

  .label {
    font-size: 12px;
    line-height: 20px;
  }
}
